<ion-header>
  <ion-toolbar color="allbit">
    <app-header-logo></app-header-logo>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center">
    <app-logo></app-logo>

    <h1>Sign In</h1>
  </div>
  <form [formGroup]="form" (submit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        required
      ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <a routerLink="/signup">Create Account</a>
    </ion-item>

    <ion-button
      type="submit"
      expand="block"
      color="allbit"
      class="ion-margin-top"
      [disabled]="form.invalid"
    >
      Login
    </ion-button>
  </form>
</ion-content>
